// COVER IMAGES
.cover-image {
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cover-image.blogroll {
    object-fit: cover;
    width: 25%;
    aspect-ratio: 1/1;
    float: left;
    // margin-right: 1.2em;
}

.cover-image.article {
    object-fit: cover;
    width: 500px;
    height: 500px;
}    


// BLOGROLL
  
  .posts > article.post {
    margin-top: 2em;
    margin-bottom: 2em;
    // min-height: 100%;
    border-bottom: 1px solid $lightGray;
  }

.excerpt {
    display: flex;
    margin-left: 300px;


}
.read-more {
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 1.2em;
}

.post-meta {
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 10px;
}


.masthead {
    border-bottom: 5px solid $lightGray;

}
// .post-content {
//     // padding-left: 50px;
//     margin-right: 250px;
//     gap: 20px;
    
// }