
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$lightPurple: #7C4585;
$lighterPurple: #c374cf;
$darkPurple: #3D365C;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

@font-face {
	font-family: "sohne";
	src: url("../assets/fonts/sohne.otf");
}

// Mobile breakpoints
$MobileCutoff: 900px;
@mixin mobile {
  @media screen and (max-width: $MobileCutoff) {
    @content;
  }
}

// BOX SHADOW
$DefaultBoxShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;