{% if site.resume_section_associations %}
<section class="content-section">
  <header class="section-header">
    <h2>{{ t.resume.sections.associations }}</h2>
  </header>

  {% for association in cv.associations %}
  <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
    <h3 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h3>
    <p class="resume-item-copy">{{ association.summary }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}
