<section class="content-section">
  <header class="section-header">
    <h2>Certifications</h2>
  </header>
  <div class="certifications">
    <div class="cert">
      <div
        data-iframe-width="100%"
        data-iframe-height="270"
        data-share-badge-id="0235037c-b359-4a66-8826-2f741e4cce0f"
        data-share-badge-host="https://www.credly.com">
      </div>
    </div>

    <div class="cert">
      <div
        data-iframe-width="100%"
        data-iframe-height="270"
        data-share-badge-id="b0a46640-805c-41c3-8755-86f0bbebfd96"
        data-share-badge-host="https://www.credly.com">
      </div>
    </div>
  </div>

  <script async src="//cdn.credly.com/assets/utilities/embed.js"></script>
</section>
