{% assign t = site.data.translations[page.lang] %}
{% assign cv = site.data[page.lang].cv %}
<html itemscope itemtype="http://schema.org/Person">
  <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
  <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

<div class="resume-wrapper">
  {% include resume/header.html %}
  {% include resume/summary.html %}
  {% include resume/contact.html %}
  {% include resume/experience.html %}
  {% include resume/education.html %}
  {% include resume/certifications.html %}
  {% include resume/projects.html %}
  {% include resume/skills.html %}
  {% include resume/associations.html %}
  {% include resume/interests.html %}
  {% include resume/links.html %}
  {% include resume/print-social-links.html %}
</div>
